{{ navigation | raw }}

<div class="ai1ec-posterboard-view ai1ec-clearfix
			ai1ec-posterboard-{%
			if posterboard_equal_height %}aligned
			{% else %}masonry{% endif %}
			{% if not posterboard_footer_show %}
				ai1ec-posterboard-no-footer
			{% endif %}
			{% if has_product_buy_button %}
				ai1ec-has-product-buy-button
			{% endif %}
			"
	data-ai1ec-tile-min-width="{{ tile_min_width }}"
	data-ai1ec-posterboard-equal-height="{{ posterboard_equal_height }}"
	data-ai1ec-posterboard-mode="{{ posterboard_mode }}">
	{% if dates is empty %}
		<p class="ai1ec-no-results">
			{{ text.no_results }}
		</p>
	{% else %}
		{% for date, date_info in dates %}
			{% for category in date_info.events %}
				{% for event in category %}
					<div class="ai1ec-event
						ai1ec-event-id-{{ event.post_id }}
						ai1ec-event-instance-id-{{ event.instance_id }}
						{% if event.is_allday %}ai1ec-allday{% endif %}"
						{% if event.ticket_url is not empty %}
							data-ticket-url="{{ event.ticket_url | e( 'html_attr' ) }}"
						{% endif %}
						data-end="{{ event.end }}">
						<div class="ai1ec-event-wrap ai1ec-clearfix">
							<div class="ai1ec-date-block-wrap"
								{{ event.category_bg_color | raw }}>
								<a class="ai1ec-load-view"
									href="{{ date_info.href | e('html_attr') }}">
									<div class="ai1ec-date">
										<div class="ai1ec-month">{{ date_info.month }}</div>
										<div class="ai1ec-day">{{ date_info.day }}</div>
										<div class="ai1ec-weekday">{{ date_info.weekday }}</div>
										{% if show_year_in_agenda_dates %}
											<div class="ai1ec-year">{{ date_info.year }}</div>
										{% endif %}
									</div>
									{% if event.is_multiday %}
										{% if posterboard_equal_height %}
											<div class="ai1ec-end-date-divider-small ai1ec-end-date-divider"
												{{ event.category_divider_color | raw }}>
											</div>
											<div class="ai1ec-end-date-divider"
												{{ event.category_divider_color | raw }}>
											</div>
											<div class="ai1ec-end-date ai1ec-date">
												<div class="ai1ec-date">
													<div class="ai1ec-month">{{ event.enddate_info.month }}</div>
													<div class="ai1ec-day">{{ event.enddate_info.day }}</div>
													<div class="ai1ec-weekday">{{ event.enddate_info.weekday }}</div>
													{% if show_year_in_agenda_dates %}
														<div class="ai1ec-year">{{ event.enddate_info.year }}</div>
													{% endif %}
												</div>
											</div>
										{% else %}
											<div class="ai1ec-end-date">
												{% if date_info.month != event.enddate_info.month %}
													<div class="ai1ec-month">
													<div class="ai1ec-end-date-divider"
													{{ event.category_divider_color | raw }}></div>
													{{ event.enddate_info.month }}</div>
												{% else %}
													<div class="ai1ec-end-date-divider"
													{{ event.category_divider_color | raw }}>
													</div>
												{% endif %}
												<div class="ai1ec-day">{{ event.enddate_info.day }}</div>
												<div class="ai1ec-weekday">{{ event.enddate_info.weekday }}</div>
												{% if show_year_in_agenda_dates %}
												<div class="ai1ec-year">{{ event.enddate_info.year }}</div>
												{% endif %}
											</div>
										{% endif %}
									{% endif %}
								</a>
							</div>

							{% set edit_post_link = event.edit_post_link %}
							{% if edit_post_link is not empty %}
								<a class="post-edit-link" href="{{ edit_post_link | raw }}">
									<i class="ai1ec-fa ai1ec-fa-pencil"></i> {{ text.edit }}
								</a>
							{% endif %}

							<div class="ai1ec-event-title-wrap ai1ec-clearfix">
								<div class="ai1ec-event-title"
									title="{{ event.filtered_title | e( 'html_attr' ) }}"><div>
									<a class="ai1ec-load-event"
										href="{{ event.permalink | e( 'html_attr' ) }}"
									  {{ event.category_text_color | raw }}>
										{{ event.filtered_title | raw }}
									</a>
									{% if not posterboard_equal_height and event.venue is not empty %}
										<span class="ai1ec-event-location">@ {{ event.venue }}</span>
									{% endif %}
								</div></div>

								<div class="ai1ec-event-time">
									{% if is_ticket_button_enabled and event.ticket_url is not empty %}
										<a class="ai1ec-pull-right ai1ec-btn ai1ec-btn-primary
												ai1ec-btn-xs ai1ec-buy-tickets"
											target="_blank" href="{{ event.ticket_url }}"
											>{{ event.ticket_url_label }}</a>
									{% endif %}
									 {{ event.timespan_short | raw }}
								</div>
							</div>
							<div class="ai1ec-posterboard-image-container">
								<a class="ai1ec-load-event"
									href="{{ event.permalink | e( 'html_attr' ) }}">
									{% if posterboard_equal_height %}
										<div class="ai1ec-posterboard-image"
											 style="background-image: url({{
												    event.avatar_url | e( 'html_attr' ) }});">
										</div>
									{% else %}
										{{ event.avatar_not_wrapped | raw }}
									{% endif %}
								</a>
								<div class="ai1ec-posterboard-time">
									{{ event.short_start_time | raw }}
								</div>
								{{ action_buttons | raw }}
								{% if event.post_excerpt is not empty %}
									<div class="ai1ec-event-description">
										{{ event.post_excerpt | raw }}
									</div>
								{% endif %}
							</div>
							{% if event.venue is not empty and posterboard_equal_height %}
								<span class="ai1ec-event-location">
									<i class="ai1ec-fa ai1ec-fa-map-marker"></i>
									{{ event.venue | raw }}
								</span>
							{% endif %}
							{% set categories = event.categories_html %}
							{% set tags       = event.tags_html %}
							{% if posterboard_footer_show %}
								{% if categories is not empty or tags is not empty or posterboard_equal_height  %}
									<footer>
										<div>
											{% if categories is not empty %}
												<span class="ai1ec-categories">
													{{ categories | raw }}
												</span>
											{% endif %}
											{% if tags is not empty %}
												<span class="ai1ec-tags">
													{{ tags | raw }}
												</span>
											{% endif %}
										</div>
									</footer>
								{% endif %}
							{% endif %}
							{% if not posterboard_footer_show %}
								<div class="ai1ec-no-footer-padding"></div>
							{% endif %}
						</div>
					</div>
				{% endfor %} {# event in category #}
			{% endfor %} {# category in date_info.events #}
		{% endfor %} {# date, date_info in dates #}
	{% endif %} {# dates is not empty #}
</div>
<div class="ai1ec-pull-left">{{ pagination_links | raw }}</div>
