{{ navigation | raw }}

<div class="ai1ec-stream-view{% if has_product_buy_button %} ai1ec-has-product-buy-button{% endif %}">
	{% if dates is empty %}
		<p class="ai1ec-no-results">
			{{ text.no_results }}
		</p>
	{% else %}
		{% for date, date_info in dates %}
			<div class="ai1ec-date {% if date_info.today %}ai1ec-today{% endif %}">
				<div class="ai1ec-date-title">
					<a class="ai1ec-load-view" href="{{ date_info.href | e( 'html_attr' ) }}">
						{{ date_info.full_month }}
						{{ date_info.day }}{%
						if show_year_in_agenda_dates %}, {{
							date_info.year }}
						{% endif %}
						({{ date_info.full_weekday }})
					</a>
				</div>

				<div class="ai1ec-date-events">
					{% for category in date_info.events %}
						{% for event in category %}
							<div class="ai1ec-clearfix ai1ec-event
								ai1ec-event-id-{{ event.post_id }}
								ai1ec-event-instance-id-{{ event.instance_id }}
								{% if event.is_allday %}ai1ec-allday{% endif %}"
								data-end="{{ event.end }}"
								{% if event.ticket_url is not empty %}
									data-ticket-url="{{ event.ticket_url | e( 'html_attr' ) }}"
								{% endif %}
								>

								<div class="ai1ec-event-inner ai1ec-clearfix">
									{{ action_buttons | raw }}
									{% set edit_post_link = event.edit_post_link %}
									{% if edit_post_link is not empty %}
										<a class="post-edit-link" href="{{ edit_post_link | raw }}">
											<i class="ai1ec-fa ai1ec-fa-pencil"></i> {{ text.edit }}
										</a>
									{% endif %}

									<div class="ai1ec-event-title">
										<a class="ai1ec-load-event"
											href="{{ event.permalink | e( 'html_attr' ) }}"
										  {{ event.category_text_color | raw }}
										  title="{{ event.filtered_title | raw }}">
											{{ event.filtered_title | raw }}
										</a>
									</div>

									<div class="ai1ec-event-avatar-wrap ai1ec-pull-left">
										<a class="ai1ec-load-event"
											href="{{ event.permalink | e( 'html_attr' ) }}">
											{{ event.avatar_not_wrapped | raw }}
										</a>
									</div>

									<div class="ai1ec-event-meta">
										<span class="ai1ec-event-time">
											<i class="ai1ec-fa ai1ec-fa-calendar"></i>
											{{ event.timespan_short | raw }}
										</span>
										{% if event.venue is not empty %}
											<span class="ai1ec-tags ai1ec-meta-divide"></span>
											<span class="ai1ec-event-location">
												<i class="ai1ec-fa ai1ec-fa-map-marker"></i>
												{{ event.venue }}
											</span>
										{% endif %}
									</div>
									<div class="ai1ec-event-description">
										{{ event.post_excerpt | raw }}
									</div>
								</div>
							</div>
						{% endfor %} {# category in date_info.events #}
					{% endfor %} {# event in category #}
				</div>
			</div>
		{% endfor %} {# date, date_info in dates #}
	{% endif %} {# dates is not empty #}
</div>

<div class="ai1ec-pull-left">{{ pagination_links | raw }}</div>
